/*
	Author: Patrick Jan Gitungo;
	Theme: Food order Website Admin;
	version: 1.0;
*/

*{

	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;

}
.success{
	color: #2ed573;
}

.error{
	color: #ff4757;
}
.wrapper{
	
	padding:1%;
	width: 80%;
	margin: 0 auto;
	
}
.text-center{
	text-align: center;
}
.clear-fix{
	float: none;
	clear: both;
}
/*CSS for Table */
.table-full{
	width: 100%;
}
.table-30{
	width: 30%;
}
table tr th{
	border-bottom: 1px solid black;
	padding: 1%;
	text-align: left;
}

table tr td{
	padding: 1%;
}
.btn-primary{
	margin-top: 3%;
	background-color: #1e90ff;
	padding: 1%;
	color: white;
	text-decoration: none;
	font-weight: bold;

}
.btn-primary:hover{
	background-color: #3742fa;
}

.btn-success{
	margin-top: 3%;
	margin-right: 1%;
	background-color: #7bed9f;
	padding: 1%;
	color: white;
	text-decoration: none;
	font-weight: bold;
	
}
.btn-success:hover{
	background-color: #2ed573;
	color: black;
}

.btn-danger{
	margin-top: 3%;
	background-color: #ff6b81;
	padding: 1%;
	color: white;
	text-decoration: none;
	font-weight: bold;
	
}
.btn-danger:hover{
	background-color: #ff4757;
	color: black;
}
/* CSS for menu */
.menu{
	border-bottom: 1px solid grey;
}
.menu{
	text-align: center;
	margin-top: 10px;
}
.menu ul{
	list-style-type: none;

}
.menu ul li{
	display: inline;
	padding: 1%;
}
.menu ul li a{
	text-decoration: none;
	font-weight: bold;
	color: #ff6b81;
}
.menu a:hover{
	text-decoration: none;
	color: #ff4757;
}

/* CSS for content */
.main-content{
	background-color: #f1f2f6;
	padding: 3% 0;
}
.col-4{
	width: 20%;
	background-color: white;
	margin-right: 1%;
	padding: 2%;
	float: left;
}
/* CSS for Footer */
.footer{
	background-color: #ff4757;
	color: white;
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
	opacity: 70%;

}

/*CSS for Login*/
.login{
	
	width: 16%;
	margin: 5% auto;
	padding: 3%;
	background-color: white;
	box-shadow: 5px 10px grey;
	border-radius: 10px;
}
input[type=text],select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

 }
 input[type=password],select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}


